@font-face {
	font-family: Neou-Thin; src: url('fonts/Neou-Thin.otf');
	font-family: Neou-Bold; src: url('fonts/Neou-Bold.otf');
	font-family: Bauhs; src: url('fonts/BAUHS93.ttf');
}

body {
	background-color: #171717;
}

.nav a {
	color: #e7e7e7;
	padding: 14px 60px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Bauhs;
}

.nav a:hover {
	background-color: #404040;
	text-decoration: none;
}

.nav li {
	display: inline;
}

.large-center-image {
	background-image: url('images/banner.png');
	background-repeat: no-repeat;
	height: 403px;
}

.large-center-image .container {
	font-family: Bauhs;
	text-transform: uppercase;
	padding-top: 100px;
	line-height: 0px;
}

.welcome-page .content p {
	width: 800px;
	margin-left: 400px;
	text-align: center;
}
.welcome-page .content h2 {
	width: 800px;
	margin-left: 400px;
	text-align: center;
}

.article-information a{
	text-decoration: none;
}